.first-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 38vw;
  /* text-align: center; */
  overflow: hidden;
}

.second-section {
  position: fixed;
  top: 0;
  left: 16vw;
  width: 38vw;
  text-align: center;
  overflow: hidden;
}

.first-section img {
  position: relative;
  height: 100vh;
  left: 0;
}

.second-section img {
  position: relative;
  height: 100vh;
  left: 0vw;
}
