.first-section {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 38vw; */
  overflow: hidden;
}

.second-section {
  position: fixed;
  top: 0;
  right: 0vw;
  /* width: 38vw; */
  text-align: center;
  overflow: hidden;
}

.first-section img {
  position: relative;
  height: 100vh;
}

.second-section img {
  position: relative;
  height: 110vh;
  /* left: 0vw; */
  right: -100%;
}
